.mybet__result {
    text-align: center;
    background: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 3vw;
    margin-left: auto;
    margin-right: auto;
    height: 10vw;
}

@media (max-width: 430px) {
    .mybet__result {
        font-size: 3.8vw;
        height: 16.8vw;
    }
}

.mybet__result > div {
    padding: 5px 10px;
    cursor: pointer;    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5a5a5a;
    font-size: 16px;;
}

.mybet__result .active {
    color: #040B20;
    box-shadow: none;    
    position: relative;
}

.transaction__filters .text-right button  {
    background:  #e05152 !important;
    color: #fff !important;
}

.mybet__result .active:after {
    position: absolute;
    height: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    content: " ";
    /*background: #fece2f !important;*/
}

.mybet__score  {
    background: #f3f3f3;
    padding: 0px 2px !important;
    text-align: center;
}

.cashout-btn {
    background-image: linear-gradient(to right, #FDA172, #FC5A03);
    cursor: pointer;
    color: #fff !important;
    text-transform: none;
    font-family: inherit;
    padding: 15px;
    font-size: 5vw !important;
    height: 14vw !important;
    line-height: 8vw !important;
    text-align: center;
    width: 100%;
    box-shadow: none !important;
}

.cashout-icon {
    display: inline-block;
    background-color: #ff8b3d;
    color: #FFFBF6;
    text-align: center;
}

.cashout-icon.sm {
    min-width: 7.5vw;
    height: 4vw;
    line-height: 4.2vw;
    font-size: 2.5vw;
    border-radius: 3px;
    padding: 0 5px;
    font-weight: normal;
}


.bg-light-head {
    background: #e2e2e2;
}

.text-yellow {
    color: #fba62f !important;
}

.text-gray {
    color: #696969;
}

.text-gray-light {
    color: #bbbbbb;
}

.text-gray-dark {
    color: #FFFBF6;
}

.text-gray-darker {
    color: #FFFBF6;
}

.text-green-dark {
    color: #0c3421;
}

.text-black {
    color: #f2b705 !important;
}

.lh-17p {
    line-height: 17px;
}

.lh-45 {
    line-height: 45px;
}

.lh-50 {
    line-height: 50px;
}

.bb-light-1 {
    border-bottom: 1px solid #f3f3f3;
}

.bl-red-6 {
    background-color: #F8111B;
    color: #fff !important;
    padding: 5px 10px;
    border-radius: 4px;
}

.bl-gray-6 {
    color: #fff !important;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #c4c4cc;
}

.bl-yellow-6 {
    color: #000 !important;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #fccc47;
    white-space: nowrap;
}

.bl-darkgray-6 {
    background-color: #565656;
    color: #fff !important;
    padding: 5px 10px;
    border-radius: 4px;
}

.bl-green-6 {
    background-color: #79BD2E;
    color: #000 !important;
    padding: 5px 10px;
    border-radius: 4px;
}

.bl-default-6 {
    border-left: 6px solid transparent;
}

.bl-orange-6 {
    background-color: #FC5A03;
    color: #000 !important;
    padding: 5px 10px;
    border-radius: 4px;
}

.bl-red-8 {
    border-left: 8px solid #cd0000;
}

.bl-green-8 {
    border-left: 8px solid #0f673d;
}

.bl-gray-8 {
    border-left: 8px solid #c4c4cc;
}

.bl-yellow-8 {
    border-left: 8px solid #f2b705;
}

.bl-darkgray-8 {
    border-left: 8px solid #565656;
}

.bl-default-8 {
    border-left: 8px solid transparent;
}

.bl-orange-8 {
    border-left: 8px solid #FC5A03;
}

.mybet__divider {
    border-bottom: 1px solid #efefef;
}

.mybet__bonus {
    display: inline-block;
    background: #fccc47;
    margin-right: auto;
    margin-left: 5px;
    border-radius: 4px;
    padding: 2px 5px 1px;
}

.mybet__popup-content {
    font-size: 3.1vw;
}

.mybet__popup-text {
    font-size: 3.8vw;
    line-height: 5.1vw;
}

.mh-50 {
    min-height: 200px;
}

.lh-14p {
    line-height: 13px !important;
}

.mybet__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #333333;
}

.mybet__table-head {
    background: #ececec;
}

.mybet__table-head th {
    font-size: 3.2vw;
    line-height: 4.2vw;
    text-align: center;
    font-weight: normal;
    padding: 3vw 5px;
    color: #040B20;
}

.mybet__table td {
    text-align: center;
    font-size: 3.2vw;
    color: #FFFBF6;
    border-bottom: 1px solid #fff;
    padding: 0 1.3vw;
    vertical-align: middle;
    height: 13.3vw;
}

.mybet__table td:first-child {
    padding-left: 0;
    width: 75px;
}

.mybet__table td:nth-child(2) {
    width: 100px;
}

.mybet__date {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-account__header {
    padding: 2.7vw 0;
}

.my-account__header-icon {
    font-size: 4.1vw;
}

.my-account__icon {
    font-size: 4.1vw;
}

.my-account__icon i {
    vertical-align: middle;
}

.my-account__text {
    font-size: 4.5vw;
}

.cashout-expired {
    display: flex;
    justify-content: center;
}

.cashout-timer span {
    display: none;
    justify-content: center;
}

.place-btn.Mui-disabled {
    opacity: 0.6;
}

.cashout-btn-wrap {
    padding: 0px 8px 15px;
}

.hybrid-market-halftime {
    position: relative;
}

.hybrid-halftime {
    position: absolute;
        top: 10px;
        left: -9.8vW;
}
.mybet__filters {
    padding: 15px 0;
}

.mybet__filters .select {
    width: 100%;
}

.mybet__filters .MuiInputBase-root {
    width: 100%;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 8px;
}

.mybet__filters .MuiInputBase-input {
    padding: 8px 0 7px 15px;
    background-color: #f2f2f2;
    color: #5F667A !important;
    border-radius: 8px;
}

.mybet__filters .MuiInput-underline:before,
.mybet__filters .MuiInput-underline:after {
    content: none;
}

.mybet__filters .MuiFormControl-root {
    width: 100%;
}

.mybet__filters .select_mobile {
    display: none;
}

@media (max-width: 768px) {
    .mybet__filters .select_mobile {
        display: block;
    }

    .mybet__filters .select_desktop {
        display: none;
    }
}
.live-icon {
    display: inline-block;
    background-color: #229e61;
    color: #FFFBF6;
    text-align: center;
    padding: 2px 5px;
    border-radius: 4px;
}