.results__panel {
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.results__participants {
    margin-right: auto;
    display: inline-grid;
    font-size: 3.8vw;
}

.results__cards ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 4vw;
}

.results__card {
    width: 2vw;
    height: 3vw;
    border-radius: 2px;
    margin: 0.3vw;
}

.results__card_red {
    background: #d60a00;
}

.results__card_yellow {
    background: #ffd300;
}

.results__card-number {
    text-align: center;
    font-size: 3vw;
    line-height: 3vw;
    margin: 0.3vw 1vw 2px 0.3vw;
}

.results__score {
    display: flex;
    align-items: center;
}

.results__score > div {
    text-align: center;
}

.results__score .results__score-md {
    min-width: 6vw;
}

.results__score .results__score-sm {
    min-width: 4vw;
}
