.allow_cursor {
    cursor: pointer;
  }
  .linear_match {
    display: flex;
      justify-content: space-around;
      align-content: space-between;
  }
  .events_div {
    width: 90%;
    overflow: scroll;
  }
  
  .location_background {
    background-color: #222432;
  }
  
  .event_background {
    background-color: #1E1D2B;
  }
  
  .event_count {
    display: flex;
    align-items: center;
  }
  
  .location_hover:hover {
    background-color: #39394A;
  }
  
  .side-bar-width {
    width: 18rem !important;
  }
  
  .location_hover .form-group {
    margin: 0px;
    position: relative;
    display: none;
  }
  
  .location_hover .form-group.custum-check.checked {
    display: block;
  }
  
  .location_hover:hover .custum-check {
    display: block;
  }
  
  .location_hover:hover .custum-check {
    display: block;
  }
  
  .form-group input {
    margin: 0px;
    position: absolute;
    width: 100%;
    z-index: 99;
    height: 100%;
    opacity: 0;
    top: 0px;
    height: auto;
    cursor: pointer;
  }
  
  .card_size ul li{
    width: 10px !important;
    height: 20px !important;
  }
  
  .right_tick {
    color: #19A5B8 !important;
    font-size: 20px !important;
    margin-left: 15px;
    align-items: flex-end !important;
  }
  .flex_class {
    padding-right: 40px !important;
  }
  .flex_ul_class {
    display: flex !important;
    justify-content: flex-end !important;
  }
  
  .min_width {
    justify-content: flex-end;
    padding:0px 20px;
  }
  .last_span {
    margin: 0px 10px;
  }
  .score-section .min-width .results__score-sm {
    min-width: 0vh !important;
  
  }
  .min-width .results__score-sm span{
    
    margin: 0px 10px !important;
  }
  
  .min-width .min_width_override{
    min-width: 0px !important;
    margin: 0px 10px !important;
  }
  
  .counter {
    position: absolute;
    right: 0;
    top: 0px;
    text-align: right;
  }
  .counter_position {
    position: relative;
  }
  .result-scrore-wrap span{
    min-width: 25px;
  }
  .result-scrore-wrap .last_span{
    margin:0;
  }
  .table tbody tr.table-middile-header{
    border-bottom:none;
  }
  
  .result-scrore-wrap .results__score-md, .result-scrore-wrap .results__score-sm {
    min-width: auto !important;
  }
  .result-scrore-wrap {
    display: flex;
  }
  .text-success {
    color: #fece2f !important;
  }
  .odds-panel table tbody td ul li {
  font-size: 15px;
      color: #fefcff;
      height: 35px;
      cursor: pointer;
  }
  .odds-panel table tbody td ul li.results__card.results__card_yellow{
    background: #ffd300;
  }
  .odds-panel table tbody td ul li.results__card.results__card_red{
    background: #fece2f;
  }
  
  .results__score-sm{
    color: #FFFBF6;
  }
  .score-section span{
    font-size: 18px;
  }
  .score-section .last_span{
    font-weight: bold;
  }
  .min_width.result-scrore-wrap{
  
    padding: 0px 5px;
  }
  .results__cards{
    position: relative;
    top: 9px;
  }
  .result-scrore-wrap{
    position: relative;
    top: 2px;
  }
  .odds-panel table tbody td ul {
    display: -webkit-flex;
    display: flex;
    padding: 0;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .odds-panel table tbody td ul li, .odds-panel table tbody td ul ol{
    width: 80px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
  }
  .odds-panel table tbody td ul li{
    background: #999999;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
  }
  .result-scrore-wrap span{
    width: 32px;
    color: #FFFBF6;
  }
  .result-table-wrap   td ul li {  
    font-size: 15px;
    color: #fefcff;
    width: 10px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px 10px;
    cursor: pointer;
  }
  
  .odds-panel table.result-table-wrap tbody td ul li, .odds-panel table.result-table-wrap tbody td ul ol{
    height: 15px;
    width: 10px;
    margin:0 5px 11px;
  }
  .dark-mode .odds-panel table.result-table-wrap tbody td ul li{
    background: transparent;
  }
  .result-table-wrap .results__card.results__card_yellow{
    background: #ffd300 !important;
  }
  .result-table-wrap .results__card.results__card_red{
    background: red !important;
  }
  .results__card-number {
    background: none !important;
  }
  .results__cards ul {
    justify-content: flex-end !important;
  }
  .results-page .active {
    background-color: #19A5B8;
  }