.carousel {
    overflow: hidden;
    border-bottom: 1px solid #d1b90f;
    max-height: 598px;
    min-height: 598px;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    display: contents!important;
   /* display: inline-flex;*/
    align-items: center;
    justify-content: center;
    height: 200px;
    color: #fff;
    margin: -10% 0% -9% 0%;
}

.indicators {
    display: none;
    justify-content: center;
}

.indicators > .button {
    margin: 5px;
    text-align: center;
    font-weight: bold;
    color: #d7282a;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    width: 20px;
    background: #fff3cd;
    border-radius: 50%;
}

.indicators > .button.active {
    background: #fba62f;
}

.carousel-item img {
    width: 100%;
    height: 598px;
}