/* External libs */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
/* @import '../node_modules/@brainhubeu/react-carousel/lib/style.css'; */
@import '../node_modules/react-redux-toastr/lib/css/react-redux-toastr.min.css';

@import './assets/fonts/css/effebet_icons.css';
@import './assets/style/Fonts.css';
@import './assets/style/Flags.css';
@import './assets/style/Reset.css';
@import './assets/style/Globals.css';
@import './assets/style/Common.css';
@import './assets/style/Spaces.css';

@import './assets/style/Auth.css';
@import './assets/style/MyBets.css';
@import './assets/style/Betslip.css';
@import './assets/style/Transactions.css';

@import './assets/style/Sports.css';
@import './assets/style/Live.css';
@import './assets/style/Results.css';

@import './assets/style/Casino.css';

@import './assets/style/Responsive.css';

@import './assets/style/Loader.css';

.btf-count {
    text-align: center;
    font-size: 55px;
    width: 43%;
}
.btf-count.dot{
    width: 14%;
}
.btf-count-wrapp {
    max-width: 90px;
    width: 100%;
    display: flex;
    align-items: center;
}